* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    --colorPrimary:#90caf9;
    --colorButton:#e3f2fd;
    --sombras:#ced4da;
    --colorGloboFondo: #4cc9f0;
   
} 

header{
    position: absolute;
width: 108px;
height: 34px;
left: 23px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;



/* trophy 1 */


position: absolute;
width: 32px;
height: 32px;
left: 328px;
top: 67px;

background: url(trophy.png);


/* close 1 */


position: absolute;
width: 32px;
height: 32px;
left: 215px;
top: 67px;

background: url(close.png);


/* :2 */


position: absolute;
width: 43px;
height: 30px;
left: 261px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;



/* :5 */


position: absolute;
width: 46px;
height: 27px;
left: 361px;
top: 71px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;



    
}